@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');
/* font-family: 'Playfair Display', serif; */

/* font-family: 'Poppins', sans-serif; */
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.home {
  padding: 2% 5%;
}

/* navbar */
.navbar {
  background: white !important;
  padding: 1% 7%;
  font-family: 'Poppins', serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;

}

.nav-btm {
  border-bottom: 1px solid rgb(231, 222, 222) !important;
}

.nav-link {
  font-weight: 300 !important;
}

.active {
  border-bottom: 1px solid black;
}

.navbar-brand {
  font-family: roboto, sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  ;
}

.search {
  margin-left: 4px;
}

/* footer */


/* page not found */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-button {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}

.product-link {
  text-decoration: none !important;
  color: #000000 !important;
}


.foot .container-fluid {
  overflow: hidden;
  margin-top: 50px;
  background: #262626;
  color: #627482 !important;
  margin-bottom: 0;
  padding-bottom: 0;
}

.foot small {
  font-size: 16px !important;
}

.foot .bold-text {
  color: #989c9e !important;
}


.foot .mt-55 {
  margin-top: 16px !important;
}


.foot .h3 {
  font-size: 20px !important;
}

.foot .social {
  font-size: 21px !important;
}

.foot .rights {
  font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important;
}